/* Efeitos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-parallax1,
.container-parallax2,
.container-parallax3,
.container-parallax4,
.container-parallax5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Topo da página */
.topo {
    width: 100%;
    position: fixed;
    background-color: #604829;
    z-index: 1;
}

.topo img {
    width: 100px;
    position: relative;
    left: 15%;
}

.topo div {
    position: absolute;
    top: 35%;
    right: 15%;
}

.topo div a {
    margin-right: 20px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 3px 5px 2px #000000;
    letter-spacing: 2px;
    color: #c4a47c;
}

/* Container Parallax 1 */
.container-parallax1 {
    background-image: url("/img/parallax-imagem1.png");
    height: 100vh;
}

.container-parallax1 h1 {
    top: 45%;
    right: 0;
    left: 0;
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: "Fraunces", serif;
    font-size: 100px;
}

/* Container Parallax 2 */
.container-parallax2 {
    background-image: url("/img/parallax-imagem2.jpg");
    height: 50vh;
}

.container-parallax2 h3,
.container-parallax3 h3 {
    width: 500px;
    padding: 10px;

    position: relative;
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;

    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    font-family: "Fraunces", sans-serif;
    text-align: center;

    letter-spacing: 2px;
    background-color: #604829;
    color: #fff;
}


/* Container Parallax 3*/
.container-parallax3 {
    background-image: url("/img/parallax-imagem3.jpg");
    height: 50vh;
}


/* Container Parallax 4 */
.container-parallax4 {
    background-image: url("/img/parallax-imagem4.png");
    height: 100vh;
}

.container-parallax4 h2 {
    width: 500px;
    padding: 10px;
    position: relative;
    top: 10%;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 24px;
    font-family: "Oswald", serif;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    background-color: #604829;
}

.container-parallax4 iframe {
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    margin: auto;
}

.container-contatos {
    width: 500px;
    padding: 10px;
    position: absolute;
    bottom: 8%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #604829;
}

.container-contatos p {
    color: #fff;
    font-family: "Oswald", sans-serif;
    line-height: 36px;
    text-shadow: 0px 6px 8px #000000;
    text-align: center;
}

/* Efeitos aplicados a classe container-texto */

.container-texto {
    padding: 80px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: #666;
}

.container-texto h2 {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "Oswald", sans-serif;
    color: #c4a47c;
}

.container-texto p {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
    font-family: "Lato", "sans-serif";
    line-height: 34px;
    letter-spacing: 1px;
    color: #666;
}

/* Container Parallax 5 */
.container-parallax5 {
    height: 85vh;
    background-image: url("/img/cafeteria.jpg");
}

.container-parallax5 h2 {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    right: 0;
    left: 0;
    font-family: "Oswald", sans-serif;
    text-align: center;
    letter-spacing: 8px;
    color: white;
}

.lista-horarios { /* tag <ul> */
    max-width: 768px;
    position: absolute;
    margin: 0 auto;
    bottom: 20%;
    right: 0;
    left: 0;
    font-family: "Oswald", sans-serif;
    list-style: none;
}

.lista-horarios li { /* tag <li> */
    position: relative;
}

.lista-horarios li h3 { /* subtitulo = <h3> */
    margin-bottom: 20px;
    color: #fff;
}

.lista-horarios li div { /* tarja = <div> */
    width: 70%;
    height: 1px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    right: 0;
    left: 0;
    background-color: #ACACAC
}

.lista-horarios li p,
.texto-marrom { /* paragrafo + span*/
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}

.texto-marrom {
    color: #c4a47c;
}

.lista-horarios li p {
    color: #ACACAC;
}

/* Rodapé */
.container-rodape {
    position: relative;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #000000;
    color: #fff;
}

.container-rodape span {
    color: #c4a47c;
}

.container-rodape a {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 80px;
    right: 50px;

    background-image: url("/img/seta-para-cima.png");
    background-position: center;
    background-size: cover;
    background-color: #c4a47c;
    border-radius: 4px;
}